[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bash/symfony.sh"]
	path = bash/symfony.sh
	url = git://gist.github.com/275690.git
