[submodule "bash/symfony"]
	path = bash/symfony
	url = git://gist.github.com/275690.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-smartinput"]
	path = vim/bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
