[submodule "delta"]
	path = delta
	url = git@github.com:dandavison/delta.git
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
